<header class="jumbotron">
  <h1 class="text-center">Cadastrar Fotos</h1>
</header>
<main class="container">
  <div class="row" *ngIf="mensagem">
    <div class="col-sm-12">
      <mensagem tipo="success">{{mensagem}}</mensagem>
    </div>
  </div>
  <section class="row">
    <form [formGroup]="formCadastro" class="col-sm-7" (ngSubmit)="salvar()">
      <div class="form-group">
        <label>Título</label>
        <input formControlName="titulo" name="titulo" class="form-control">
        <!-- validação do campo titulo primeiro -->
        <div *ngIf="!formCadastro.controls.titulo.valid">
          <!-- acessa a propriedade errors que só existe caso titulo for inválido -->
          <span *ngIf="formCadastro.controls.titulo.errors.required" class="form-control alert-danger">
            Título obrigatório
          </span>
          <!-- mensagem de validação por tamanho -->
          <span *ngIf="formCadastro.controls.titulo.errors.minlength" class="form-control alert-danger">
            Título deve ter no mínimo 3 caracteres
          </span>
        </div>
      </div>
      <div class="form-group">
        <label>URL</label>
        <input formControlName="url" name="url" class="form-control">
        <span *ngIf="formCadastro.controls.url.invalid" class="form-control alert-danger">
          URL obrigatória
        </span>
      </div>
      <div class="form-group">
        <label>Descrição</label>
        <textarea formControlName="descricao" name="descricao" class="form-control">
        </textarea>
      </div>
      <a routerLink="" class="btn btn-secondary">Voltar</a>
      <button type="submit" class="btn btn-primary" [disabled]="formCadastro.invalid">
        Salvar
      </button>
    </form>
    <aside class="col-sm-5">
      <h3 class="text-center">Preview</h3>
      <painel titulo="{{foto.titulo}}">
        <foto url="{{foto.url}}" titulo="{{foto.titulo}}">
        </foto>
      </painel>
    </aside>
  </section>
</main>
